<div *ngIf="!(docs$ | async)">Loading...</div>
<div>
    <button mat-raised-button color="primary" routerLink="/classify">Add classify</button>
</div>
<mat-accordion>
    <mat-expansion-panel *ngFor="let docs of docs$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{docs.classify}}
            </mat-panel-title>
            <div>
                <button mat-raised-button color="primary" (click)="delete(book.id)">Delete</button>
            </div>
        </mat-expansion-panel-header>
        {{docs.doc}}


    </mat-expansion-panel>
</mat-accordion>