<mat-card>
  <h1>Login</h1>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="email" [(ngModel)]="email" name="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="strong password" [(ngModel)]="password" name="password" type="password">
      </mat-form-field>
      <div class="alert" *ngIf="authService.err">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{authService.err}}
      </div>
      <div>
        <button mat-raised-button color="primary" [disabled]="!signupForm.form.valid">
          Sign Up
        </button>
      </div>
    </div>
  </form>
</mat-card>